/* Estilos generales de la aplicación */
body{
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
/* Estilos para la disposición de la lista de tareas y entrada de tareas */
.todo-grid,
.todo-input-grid{
  display: grid;
  grid-template-columns:200px 150px 100px;
  row-gap: 10px;
  column-gap:10px;
  align-items: center;
}

.todo-input-grid{
  margin-bottom: 10px;
  align-items: stretch;
}
/* Estilos para las entradas de texto y botones */
.name-input,
.due-date-input{
  font-size: 15px;
  padding: 6px;
}

.add-todo-button{
  background-color: green;
  border: none;
  color: white;
  font-size: 15px;
}

.delete-todo-button{
  background-color: darkred;
  border: none;
  color: white;
  font-size: 15px;
  padding: 10px 0;
}

.add-todo-button,
.delete-todo-button{
  cursor: pointer;
}